[run]
source = apps
branch = True
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */apps.py
    */admin.py

[report]
precision = 1
skip_covered = False
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.DEBUG
