DJANGO_SETTINGS_MODULE=parking_belgium.settings.dev
DJANGO_SECRET_KEY=change-me-in-prod-use-django-management-command
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgis://parking_belgium:parking_belgium@localhost:5432/parking_belgium

# Windows: GeoDjango uses DLLs shipped by the PostGIS bundle
GDAL_LIBRARY_PATH=C:\Program Files\PostgreSQL\17\bin\libgdal-35.dll
GEOS_LIBRARY_PATH=C:\Program Files\PostgreSQL\17\bin\libgeos_c.dll
PROJ_LIB=C:\Program Files\PostgreSQL\17\share\contrib\postgis-3.6\proj
PROJ_DATA=C:\Program Files\PostgreSQL\17\share\contrib\postgis-3.6\proj
GDAL_DATA=C:\Program Files\PostgreSQL\17\gdal-data

# Stripe Checkout (mode test) — récupère les clés sur https://dashboard.stripe.com/test/apikeys
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=eur

# DEFAULT_FROM_EMAIL pour les notifications transactionnelles
DJANGO_DEFAULT_FROM_EMAIL=Parking.Belgium <no-reply@parking.belgium.local>
